@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<script src="site.js"></script>
<div class='contained'>

<div class='slider' id='slider1'>

<div><a href='/'><img src='https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEiyANflYOaMiygS3Pj0zTTcbdQx1nBSwLRMpegszu08U9LVgxDjLuJkyA1gypaUM8ucZLn69ozavkZLOqi7bLvSTVnyJmDdCqRszyVziufQIrHzfPkBhSSTie_HZWCl9YZ-GCnbtIGbwxfynImK-vortQ8xoWDtL_iO39bW8wGSZi2ywj_IbwQTbb_O/s1170/acctg%20banner%20size-blue.png'/></a></div>

<div><a href='/'><img src='https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEi8kp9bw7jmrGPIHaaWBGzQVmpFTuX1YHKuuNQHP3S8qxWWN8UcU886gEOC6I2pBFZe5CP5ZKlTdBhX1k2bqjri0nYyXr4IpydVAZMSeVoUA5i7GXcZ4BZPNDLV9Wx_zLmjms69LGb7aSIi3BC5oKa95n2txdz99kiEyhEuAD5pP5g38b04NLdklP_S/s1170/shop%20banner%20size-lime-product%20add.png'/></a></div>

<div><a href='/'><img src='https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEierJRZ9OdTXViHfzlLFqsDMCWVlcL_pq6MBtSA06sjS6YoG00cobXX-195X4IXIdOIQZ-YV1yY8fie3KoyU55ae9TbnTiWyLd4sVCjZqQ00VUmfOTQkATwDC95mx2nG460GDNbl34-7CZdTjYPYk1uFoXlpVfCObqI8XVkR-CGMLUlWKGyrtH7qvJC/s1170/acctg%20banner%20size-DailyCash-blue.png'/></a></div>

<div><a href='/'><img src='https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhk_sHsMX-XXkWJcK8wPs-XVQvWFaIivSnKkc7aJI25c34xTv2cyPvuJZmtStzdRt4SAJhx1EyFSlMUVRGkQhdnb6Nt1txnPe8yVCwPmlw0Wsuz_XJOsVpz8jiU-FQbDk8xVDdz_rf-jDhZ3MsMocY3CmnQSO5bgmUuT81x6Ln-Rg61xsuCIgFxS289/s1171/shop%20banner%20size-green-cart%20menu%20dropdown.png'/></a></div>
  
<div><a href='/'><img src='https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhbhYZ0E6yzFkJKRqhQJej6MlBgZxwBdDNwojA6Y4x-Blut48V7IkQule9wQqVMgS_ofwySk5fCDt7vbgLc_uCqSQ5-BV13fhEnKZlHA8_0nUlpV4gcKsrfTfYQ0hrnN4cWYFYUFF7GtInbrYpqc4IRJOcePZUCBjoxo02Lbkg_YKTi69Hy3jNJVpAe/s1170/shop%20banner%20size-excel%20apps-lime%20green.png'/></a></div>
